In [4]:
import pandas_datareader as pdr
from datetime import datetime

# 데이터 가져올 기간 설정
start = datetime(2010, 1, 1)
end = datetime(2024, 11, 6)

# 여러 거시 경제 지표 코드 설정 (FRED와 Yahoo Finance 혼합)
indicators = {
    'InterestRate': 'FEDFUNDS',  # 미국 단기 이자율 (FRED)
    'VIX': 'VIXCLS',  # VIX (변동성 지수) (FRED)
    'TEDSpread': 'TEDRATE',  # TED 스프레드 (FRED)
    'EFFR': 'EFFR',  # 유효 연방 기금 금리 (FRED)

}

# 각 지표에 대한 데이터를 저장할 딕셔너리 초기화

macro_data = {}
for name, code in indicators.items():
    try:
        macro_data[name] = pdr.get_data_fred(code, start, end)
        print(f"{name} 데이터 가져오기 성공!")
    except Exception as e:
        print(f"{name} 데이터 가져오기 실패: {e}")

for name, data in macro_data.items():
    if data is not None and not data.empty:
        print(f"\n{name} 데이터:\n", data.head())
    else:
        print(f"{name} 데이터가 없습니다.")

InterestRate 데이터 가져오기 성공!
VIX 데이터 가져오기 성공!
TEDSpread 데이터 가져오기 성공!
EFFR 데이터 가져오기 성공!

InterestRate 데이터:
             FEDFUNDS
DATE
2010-01-01      0.11
2010-02-01      0.13
2010-03-01      0.16
2010-04-01      0.20
2010-05-01      0.20

VIX 데이터:
             VIXCLS
DATE
2010-01-01     NaN
2010-01-04   20.04
2010-01-05   19.35
2010-01-06   19.16
2010-01-07   19.06

TEDSpread 데이터:
             TEDRATE
DATE
2010-01-01      NaN
2010-01-04     0.17
2010-01-05     0.18
2010-01-06     0.19
2010-01-07     0.20

EFFR 데이터:
             EFFR
DATE
2010-01-01   NaN
2010-01-04  0.12
2010-01-05  0.12
2010-01-06  0.12
2010-01-07  0.10

In [5]:
import pandas as pd

# 모든 지표를 하나의 데이터프레임으로 통합
macro_df = pd.concat(macro_data, axis=1)
macro_df.columns = [col[1] for col in macro_df.columns]  # MultiIndex 열 이름 정리
macro_df.fillna(method='ffill', inplace=True)
macro_df.reset_index(inplace=True)
macro_df.columns = ['Date','InterestRate','VIX','TEDSpread','EFFR']
macro_df = macro_df.drop(index=0).reset_index(drop=True)
macro_df

C:\Users\clcle\AppData\Local\Temp\ipykernel_27284\1680521907.py:6: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  macro_df.fillna(method='ffill', inplace=True)

           Date  InterestRate    VIX  TEDSpread  EFFR
0    2010-01-04          0.11  20.04       0.17  0.12
1    2010-01-05          0.11  19.35       0.18  0.12
2    2010-01-06          0.11  19.16       0.19  0.12
3    2010-01-07          0.11  19.06       0.20  0.10
4    2010-01-08          0.11  18.13       0.20  0.11
...         ...           ...    ...        ...   ...
3916 2024-10-30          4.83  20.35       0.09  4.83
3917 2024-10-31          4.83  23.16       0.09  4.83
3918 2024-11-01          4.83  21.88       0.09  4.83
3919 2024-11-04          4.83  21.98       0.09  4.83
3920 2024-11-05          4.83  20.49       0.09  4.83

[3921 rows x 5 columns]

In [10]:
import yfinance as yf
start_date = '2010-01-04'
end_date = '2024-11-06'
# Crude Oil
df_oil = yf.download('CL=F', start=start_date, end=end_date)
df_usdkrw = yf.download('EURUSD=X', start=start_date, end=end_date)
df_gold = yf.download('GC=F', start=start_date, end=end_date)

df_oil.reset_index(inplace=True)
df_oil['Date'] = df_oil['Date'].dt.strftime('%Y-%m-%d')
df_oil.columns = ['Date', 'Adj Close', 'Close', 'High', 'Low', 'Open', 'Volume']
df_oil.drop(columns=['Adj Close', 'High', 'Low', 'Open', 'Volume'], inplace=True)

df_usdkrw.reset_index(inplace=True)
df_usdkrw['Date'] = df_usdkrw['Date'].dt.strftime('%Y-%m-%d')
df_usdkrw.columns = ['Date', 'Adj Close', 'Close', 'High', 'Low', 'Open', 'Volume']
df_usdkrw.drop(columns=['Adj Close', 'High', 'Low', 'Open', 'Volume'], inplace=True)

df_gold.reset_index(inplace=True)
df_gold['Date'] = df_gold['Date'].dt.strftime('%Y-%m-%d')
df_gold.columns = ['Date', 'Adj Close', 'Close', 'High', 'Low', 'Open', 'Volume']
df_gold.drop(columns=['Adj Close', 'High', 'Low', 'Open', 'Volume'], inplace=True)

df_oil

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

            Date      Close
0     2010-01-04  81.510002
1     2010-01-05  81.769997
2     2010-01-06  83.180000
3     2010-01-07  82.660004
4     2010-01-08  82.750000
...          ...        ...
3730  2024-10-31  69.260002
3731  2024-11-01  69.489998
3732  2024-11-04  71.470001
3733  2024-11-05  71.989998
3734  2024-11-06  71.690002

[3735 rows x 2 columns]

In [11]:
macro_df['Date'] = pd.to_datetime(macro_df['Date'])
df_oil['Date'] = pd.to_datetime(df_oil['Date'])
df_usdkrw['Date'] = pd.to_datetime(df_usdkrw['Date'])
df_gold['Date'] = pd.to_datetime(df_gold['Date'])

# Date 열을 기준으로 데이터프레임 병합
merged_df = macro_df.merge(df_oil, on='Date', how='inner') \
                    .merge(df_usdkrw, on='Date', how='inner') \
                    .merge(df_gold, on='Date', how='inner')
merged_df = merged_df.rename(columns={'Close_x': 'Oil', 'Close_y': 'ExchangeRate','Close': 'Gold'})
merged_df

,Date,InterestRate,VIX,TEDSpread,EFFR,Oil,ExchangeRate,Gold
0,2010-01-04,0.11,20.04,0.17,0.12,81.510002,1.442398,1117.699951
1,2010-01-05,0.11,19.35,0.18,0.12,81.769997,1.436596,1118.099976
2,2010-01-06,0.11,19.16,0.19,0.12,83.180000,1.440403,1135.900024
3,2010-01-07,0.11,19.06,0.20,0.10,82.660004,1.431803,1133.099976
4,2010-01-08,0.11,18.13,0.20,0.11,82.750000,1.441109,1138.199951
...,...,...,...,...,...,...,...,...
3723,2024-10-30,4.83,20.35,0.09,4.83,68.610001,1.082064,2788.500000
3724,2024-10-31,4.83,23.16,0.09,4.83,69.260002,1.085918,2738.300049
3725,2024-11-01,4.83,21.88,0.09,4.83,69.489998,1.088613,2738.600098
3726,2024-11-04,4.83,21.98,0.09,4.83,71.470001,1.087453,2736.100098
3727,2024-11-05,4.83,20.49,0.09,4.83,71.989998,1.087406,2740.300049

In [13]:
merged_df.to_csv('nasdq_20241106.csv')